# Your GitHub Personal Access Token
GITHUB_PERSONAL_ACCESS_TOKEN=

# API key used to call the LLM of your choice
LLM_API_KEY=

# Base URL of the LLM provider
LLM_BASE_URL=

# Your role in the org
# E.g: Frontend Engineer, Backend Engineer, FullStack Engineer
DEVELOPER_ROLE=